/*
   =============
    General CSS
   =============
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

:root{

    /*Colors*/

    --bg-gradient: linear-gradient(63deg, #9300FF 10%, #000C9B 100%);

    /*Black Colors*/
    --color-white-1: white;
    --color-white-2: whitesmoke;
    --color-black-1: #000000;
    --color-black-2: #1d1d1d;
    --color-black-3: #24252A;

    /*Gray Colors*/
    --color-gray-1: #333333;
    --color-gray-2: #4f4f4f;
    --color-gray-3: #828282;
    --color-gray-4: #BDBDBD;
    --color-gray-5: #E0E0E0;

    /*State Colors*/
    --color-info: #4EB4FF;
    --color-success: #17C33D;
    --color-warning: #FFCB46;
    --color-error: #E42020;


    /*Typography*/

    --txt-header-1: 56px;
    --txt-header-2: 48px;
    --txt-header-3: 40px;
    --txt-header-4: 32px;
    --txt-header-5: 24px;
    --txt-header-6: 20px;

    --txt-text-l: 20px;
    --txt-text-m: 18px;
    --txt-text-n: 16px;
    --txt-text-s: 14px;

}

html{
    background: var(--color-black-3);
}

body{
    box-sizing: border-box;
    width: 100vw;
    margin: 0;

    font-family: 'Roboto', sans-serif;
    color: var(--color-white-1);

    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: var(--bg-gradient);
}

/*
   ================
      Containers
   ================
*/
/*Landing*/

.landing{
    height: 65vh;
    max-width: 100%;
    padding: 50px 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.landing__grid{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 50px;
}
.landing__grid__item{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;*/
}


.landing__text{
    width: 100%;

    text-align: left;
}
.landing__header{
    font-size: var(--txt-header-1);
    font-weight: bolder;
}
.landing__sub{
    font-size: var(--txt-header-5);
    font-weight: lighter;
}
.landing__img{
    height: auto;
    width: 110%;
    margin-top: 100px;

    align-self: flex-end;
}
.landing__icon{
    font-size: 50px;

    user-select: none;

    animation: ico-animation 3s infinite ease-in-out;
}

/*Content*/

.content{
    height: 100%;
    width: 100%;
    max-width: 100%;

    display: flex;
    flex-direction: column;
}

/*Container*/
.container{
    height: fit-content;
    min-height: 600px;
    width:  95vw;

    display: flex;
    justify-content: center;
    align-self: center;

    background-color: var(--color-white-1);
    color: var(--color-black-1);
    box-shadow: -7px 7px 7px #00000020;

    border-radius: 15px;
}
.container--right{
    height: fit-content;
    min-height: 600px;
    width:  95vw;

    display: flex;
    justify-content: center;
    align-self: flex-end;

    background-color: var(--color-white-1);
    color: var(--color-black-1);
    box-shadow: -7px 7px 7px #00000020;

    border-radius: 15px 0 0 15px;
}
.container--left{
    height: fit-content;
    min-height: 600px;
    width:  95vw;

    display: flex;
    justify-content: center;

    background-color: #6059CE;
    color: var(--color-white-1);
    box-shadow: 7px 7px 7px #00000020;

    border-radius: 0 15px 15px 0;
}
.container__content{
    /*height: 350px;*/
    width: 100%;
    margin: 25px 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/

}
.overlap{
    margin-top: -100px;
}
.container__grid{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 100px;
    row-gap: 50px;

    align-items: center;
    justify-content: center;
}
.container__grid__item{
    height: 200px;
    width: 300px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    font-size: var(--txt-header-5);

    background: var(--color-gray-5);
    color: var(--color-black-3);

    border-radius: 20px;

    transition: all .2s ease;
}
.container__grid__item:hover{
    transform: scale(1.03);
    background: #9300FF;
    color: var(--color-white-1);
}

.container__header{
    margin-bottom: 40px;

    position: relative;

    font-size: var(--txt-header-4);

}
.container__header::after{
    height: 2px;
    width: 70%;
    margin: 0 auto;

    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;

    background: #4EB4FF;

    content: '';
}

.footer{
    height: 80px;
    width: 100%;
    padding-top: 25px;
    margin-top: 25px;

    font-size: var(--txt-text-s);

    display: flex;
    place-content: center;

    background: var(--color-black-3);
    color: var(--color-gray-4);
}

.quiz__header{
    width: 60ch;
    font-size: var(--txt-header-5);
    align-self: flex-start;
}
.quiz__answer{
    height: 200px;
    width: 100%;
    padding: 16px 32px;
    box-sizing: border-box;

    font-family: 'Roboto', "SF Pro Text", sans-serif;
    font-size: var(--txt-text-n);

    align-self: flex-start;
    resize: none;

    background: var(--color-gray-5);
    color: var(--color-black-3);

    border: none;
    border-radius: 15px;
}
.quiz__answer:focus{
    outline: none;
    border: 1px solid #4EB4FF;
}
.quiz__answer-reveal{
    height: 100px;
    width: 100%;
    margin-top: 30px;

    padding: 16px 32px;
    box-sizing: border-box;

    display: none;

    background: var(--color-gray-5);
    border-radius: 15px;
}
[EASY]{
    color: var(--color-success);
}
[MEDIUM]{
    color: var(--color-warning);
}
[HARD]{
    color: var(--color-error);
}
/*
   ============
      Navbar
   ============
*/

.nav{
    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
}
.nav__links{
    list-style: none;
    padding: 0;
}
.nav__links__item{
    padding: 14px 18px ;

    display: inline-block;
}
.nav__links li a:link,.nav__links li a:visited {
    text-decoration: none;
    color: var(--color-white-1);
}

/*
   ==============
      Carousel
   ==============
*/

.slider {
    position: relative;
    height: fit-content;
    width: 1100px;
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

.carousel{
    height: fit-content;
    max-height: 200px;
    width: 1000px;


    display: flex;
    flex-direction: row;
    overflow: scroll;
    overflow-scrolling: auto;
    scroll-snap-type: x mandatory;


    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    /*justify-content: space-between;*/


}
.carousel__item{
    height: 200px;
    min-width: 300px;
    padding: 10px;
    margin: 0 25px;

    box-sizing: border-box;

    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: var(--txt-header-5);

    background: var(--color-gray-5);

    border-radius: 20px;
}

.carousel__nav-button{
    position: absolute;

    height: 50px;
    width: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-gray-3);

    border-radius: 100px;
    border: none;
    box-shadow: rgba(36, 37, 42, 0.27) 0 5px 10px;

    transition:all .2s ease;
}

.carousel__nav-button--right{
    align-self: flex-end;
    margin-right: 20px;
}
.carousel__nav-button--left{
    align-self: flex-start;
    margin-left: 20px;
}
.carousel__right:hover, .carousel__left:hover{
    transform: scale(1.03);
    background: var(--color-gray-2);
}
.carousel__icon{
    color: var(--color-white-1);
    font-size: var(--txt-header-2) !important;
}
/*
   ==============
      Buttons
   ==============
*/

.action-button{
    width: fit-content;

    font-size: var(--txt-text-n);
    font-weight: bold;
    padding: 16px 80px;

    color: var(--color-white-1);
    background: #CB1616;

    border:none;
    border-radius: 100px;

    transition: background-color,transform 0.2s ease;
}
.action-button:active{
    background: #971212;
}
.action-button:focus,.action-button:hover{
    transform: scale(1.025);
}

/*
   ==========
      Text
   ==========
*/

.gr-txt{
    background: linear-gradient(43deg, #4158d0, #c850c0, #ffcc70);
    background-size: 200% 200%;

    -webkit-animation: txt-animation 10s ease infinite;
    -moz-animation: txt-animation 10s ease infinite;
    animation: txt-animation 10s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.course__link{
    width: fit-content;
    height: fit-content;

    box-sizing: border-box;

    color: var(--color-black-1);
    text-decoration: none;
}
/*
   ============
      Cards
   ============
*/

.card{
    max-height: 400px;
    width: 350px;
    padding: 1.5rem;

    background: var(--color-white-1);
    box-shadow: inset rgba(111, 111, 111, 0.51) 0 0 4px;
    border-radius: 15px;

}
.card__title{
    font-size: 1.5rem;
    margin: 0;
}
.card__body{
    font-size: 1rem;
    color: var(--color-black-1);
}
.card__link{
    font-size: 1.2rem;
    background: var(--color-gray-2);
    color: var(--color-white-2);
    text-decoration: none;
    font-weight: bolder;
    padding: 10px 15px;
    border-radius: 10px;
}

/*
   ============
      Modal
   ============
*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    /*background-color: var(--bg-color);*/
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: fit-content; /* Could be more or less, depending on screen size */
    border-radius: 10px;
}

/*
   ============
      Form
   ============
*/

.form{
    height: 100%;
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.tab{
    display: none;
}
.form__container{
    width: 100%;

    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    column-gap: 100px;
}
.form__container__item{
    margin: 20px 0;
}


.form__input{
    width: 100%;
    padding: 13px 32px 13px;

    background: #5550AF;
    color: var(--color-white-1);

    box-sizing: border-box;

    border: 1px solid #5550AF;
    border-radius: 100px;
}
.form__input:focus{
    outline: none;

    color: var(--color-white-1);
    border: 1px solid #4EB4FF;
}
.form__label{
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: var(--txt-text-n);
    font-weight: bold;
    display: block;
}
.form__text-area{
    height: 200px;
    width: 100%;
    padding: 16px 32px;
    box-sizing: border-box;

    font-family: 'Roboto', "SF Pro Text", sans-serif;

    align-self: flex-start;
    resize: none;

    background: #5550AF;
    color: var(--color-white-1);

    border: 1px solid #5550AF;
    border-radius: 15px;
}
.form__text-area:focus{
    outline: none;
    border: 1px solid #4EB4FF;
}
.form__submit{
    height: fit-content;
    width: 100%;
    padding: 16px 80px ;
    margin: 20px;

    background: var(--color-success);
    color: var(--color-white-1);

    border: none;
    border-radius: 25px;
}
.form__button-group{
    width: 100%;
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
}
.form__button-group input{
    width: 300px;
    margin: 0;

    font-size: var(--txt-text-n);
    font-weight: bold;
    padding: 16px 80px;
}
.form__button-group button{
    width: 200px;
    margin: 0;

    font-size: var(--txt-text-s);
    font-weight: bold;
    padding: 16px ;

    background: var(--color-info);
    color: var(--color-white-1);

    border:none;
    border-radius: 100px;
}
.form__text{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--color-gray-4);
}

/*
   ================
      Animations
   ================
*/
@keyframes ico-animation {
    0%{transform: translateY(2px)}
    50%{transform: translateY(-4px)}
    100%{transform: translateY(2px)}
}

@-webkit-keyframes txt-animation {
    0%{background-position:0 52%}
    50%{background-position:100% 49%}
    100%{background-position:0 52%}
}
@-moz-keyframes txt-animation {
    0%{background-position:0 52%}
    50%{background-position:100% 49%}
    100%{background-position:0 52%}
}
@keyframes txt-animation {
    0%{background-position:0 52%}
    50%{background-position:100% 49%}
    100%{background-position:0 52%}
}

/*
   ================
        Icons
   ================
*/

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }