@()

@main("About"){
    <div class="landing">
        <div class="container">
            <div class="content">
                <h3 class="content__title">About</h3>
                <div class="content__grid">
                    <p class="content__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab molestias perspiciatis quo temporibus! Ad aliquid consequuntur, corporis culpa eligendi ex fugit ipsa nam nemo quidem tempora tempore totam. Earum!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid beatae consequatur culpa dicta earum enim expedita, facere fuga fugiat iste necessitatibus odio officiis placeat quaerat quis soluta temporibus veritatis.
                    </p>
                    <p class="content__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab molestias perspiciatis quo temporibus! Ad aliquid consequuntur, corporis culpa eligendi ex fugit ipsa nam nemo quidem tempora tempore totam. Earum!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid beatae consequatur culpa dicta earum enim expedita, facere fuga fugiat iste necessitatibus odio officiis placeat quaerat quis soluta temporibus veritatis.
                    </p>
                </div>
            </div>
        </div>
    </div>
}