@import model.Card
@(courses: Seq[Card])

@main("Topics"){
  <div class="content">
    <div class="container">
      <div class="container__content">
        <h1 class="container__header">Our Courses</h1>
        <div class="container__grid">
          @for(course <- courses){
            <a class="course__link" href="/quiz?course=@course.course">
              <div class="container__grid__item">
                @course.course
              </div>
            </a>
          }
        </div>
      </div>
    </div>
  </div>
}

