@()

@main("About"){
    <div class="content">
        <div class="container" style="width: 80vw">
            <div class="container__content">
                <form action="" class="form">
                    <div>
                        <p>Course Lorem</p>
                        <p>Question x/10</p>
                    </div>
                    <h4 class="quiz__header">Which number did Michael Jordan wear?</h4>
                    <label for="quiz__answer" style="display: none"></label>
                    <textarea name="quiz__answer" id="quiz__answer" cols="30" rows="10" class="form__text-area">

                    </textarea>
                </form>
            </div>
        </div>
    </div>
}