@()

@main("Topics"){
  <div class="landing">
    <h2 style="margin-bottom: 30px">Spezielle Programmierung</h2>
    <div class="container">
        <div class="container__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet assumenda commodi consequatur corporis eligendi et ex hic in iste, laborum nostrum odit possimus provident quam quisquam sapiente tenetur, vel vero.
        </div>
    </div>
    <div class="container">

    </div>
    <div class="container">

    </div>
    <div class="container">

    </div>
  </div>
}
